.page-header {
    background-color: rgb(5, 1, 15);
    margin-top: 0;
    padding: 10px 10px 10px 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Times', cursive;
    
}




