{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bsi/bsi.css'%}">

<div class="page-header">
    <h1><a href="../../bsi/">BSI-Bacharelado em Sistemas de Informações</a></h1>
</div>
<center>
<h1>Projetos</h1>
bsi
<table border="1">
<thead>
    <tr>
    <th>Nome</th>
    <th>Coordenador</th>
    <th>NumVagas</th>
    <th>Descricao</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for projeto in object_list %}
    <tr>
    <td>{{ projeto.nome }}</td>
    <td>{{ projeto.coordenador }}</td>
    <td>{{ projeto.numVagas }}</td>
    <td>{{ projeto.descricao }}</td>
    <td><a href="{% url "projeto_view" projeto.id %}">view</a></td>
    <td><a href="{% url "projeto_edit" projeto.id %}">edit</a></td>
    <td><a href="{% url "projeto_delete" projeto.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "projeto_new" %}">Adicionar Projeto</a>
</center>